@media (max-width: 700px) {

    .showcase-title {
        font-size: 2em;
        }
    .menu-btn {
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(51, 51, 51, 0.9);
        height: 100%;
        padding: 30px;
        opacity: 0.9;
        transform: translateX(-400px);
        transition: transform .5s ease-in-out;
    }

    .menu-index {
        color: #fff;
    }
    
    .menu-plansInstallation {
        color: #fff;
    }
    
    .menu-payment {
        color: #fff;
    }
    
    .menu-contactUs {
        color: #fff;
    }

    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li {
        padding: 20px;
       font-size: 14px;
    }

    .cards {
      grid-template-columns: repeat(2, 1fr);
    }

    .banner .content {
        width: 80%;
    }

    .footer-links .footer-container {
        grid-template-columns: repeat(2, 1fr);
    }

  }

@media (max-width: 500px) {
    .showcase-title {
        font-size: 2em;
        }
    .cards {
        grid-template-columns: 1fr;
    }

    .cards img {
        height: 270px;
    }

    .banner .content {
        width: 100%;
        padding: 60px 20px;
    }

    .footer-links .footer-container {
        grid-template-columns: 1fr;
    }
}